@CHARSET "UTF-8";
body{
    background-color:#fff7ac;
}
table{
    margin: auto;
    margin-top: 4em;
    border: 7px solid #398385;
    padding: 0;
    border-collapse: collapse;
}
td{
    margin: 0 0 0 0;
    border: 3px solid #398385;
    width: 3em;
    height: 3em;
    background-color:#befff7;
}
td:hover {
    background-color: #6affed;
}
tr{
    margin: 0 0 0 0;
    padding: 0;
}
.ship{
    background-color: #4e3518;
    border: #b47637;
}
.ship:hover{
    /*background-color: #7f584d;*/
    background-color: #4e3518;
    box-shadow: inset 0 0 80px #3a2716;  
}
.zone{
    background-color: #a7d0fa;
}